{% extends "layout.twig" %}
{% block title %}
	System users
{% endblock %}

{% block main_container %}
	<h2>System users</h2>

	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th></th>
					<th>Email</th>
					<th>Name</th>
					<th>Surname</th>
					<th class="col-md-1"></th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>
							<input type="checkbox" id={{ user._id }} />
						</td>
						<td>{{ user.email }}</td>
						<td>{{ user.firstName }}</td>
						<td>{{ user.lastName }}</td>
						<td>
							<a href="/users/edit/{{ user._id }}">Edit</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<button class="btn btn-danger" id="delete" onclick="deleteUsers()">Delete</button>
	</div>

	<!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
	<div class="row text-center">
		<ul class="pagination">
			{%for page in pages%}
				<li class="page-item" id="pi-{{ page }}">
					<a id="page_{{page}}" class="page-link" href="/users/system/?page={{ page }}&search={{ busquedaStr }}">{{ page }}</a>
				</li>
			{%endfor%}
			<script>
				$("#pi-"+"{{ currentPage }}").addClass("active");
			</script>
		</ul>
	</div>

	<script>
		function deleteUsers() {
			var ids = [];
			$("input:checkbox:checked").each(function() {
				ids.push($(this).attr('id'));
			});
			$.ajax({
				url: '/users/delete',
				type: 'POST',
				data: {ids: ids},
				success: function(data) {
					//Redirect to the same page including messages
					window.location.href = `/users/system?message=${data.message}&messageType=${data.messageType}`;
				}
			});
		}
	</script>


{% endblock %}
