{% extends "layout.twig" %}
{% block title %} Friends {% endblock %}
{% block main_container %}
    <h2>My friends</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Friends since</th>
                <th>Last publication</th>
            </tr>
            </thead>
            <tbody>
            {% for friend in friends %}
                <tr>
                    <td>{{ friend.email }}</td>
                    <td>{{ friend.firstName }}</td>
                    <td>{{ friend.lastName }}</td>
                    <td> friend.lastPublication </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!--Pagination block-->
    <div class="row text-center">
        <ul class="pagination">
            {%for page in pages%}
                <li class="page-item" id="pi-{{ page }}">
                    <a class="page-link" href="/friendships/?page={{ page }}">{{ page }}</a>
                </li>
            {%endfor%}
            <script>
                $("#pi-"+"{{ currentPage }}").addClass("active");
            </script>
        </ul>
    </div>
{% endblock %}